$primary-color: white;


.container {
background-color: $primary-color;
padding: 25px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 30vh;
}

.header {
    color: black;
    font-size: 35px;
}

.button {
    background-color: $primary-color;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }

  .button:hover {
    background-color:rgb(233, 236, 124);
  }
  
  .navbar {
    background-color: #4787c8;
    padding: 10px;
  
    &_menu {
      list-style-type: none;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
    }
  
    &_item {
      margin-right: 10px;
    }
  
    &_link {
      color: #fff;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  /* Additional styles for other components */
  