
.container {
background-color: white;
padding: 25px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 30vh;
}

.header {
    color: black;
    font-size: 35px;
}

.button {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .navbar {
    background-color: #4787c8;
    padding: 10px;
  
    &_menu {
      list-style-type: none;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
    }
  
    &_item {
      margin-right: 10px;
    }
  
    &_link {
      color: #fff;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  // light
$primary-color-light: #87b6e5;
$secondary-color-light: #e9c999;
$background-color-light: #fff;
$font-color-light: #000;

// dark
$primary-color-dark: #0b0555;
$secondary-color-dark: #1e100c;
$background-color-dark: #000;
$font-color-dark: #fff;

.theme-light {
    background-color: $background-color-light;
    color: $font-color-light;
  
    .button {
      background-color: $primary-color-light;
      color: $secondary-color-light;
    }
  }
  
  .theme-dark {
    background-color: $background-color-dark;
    color: $font-color-dark;
  
    .button {
      background-color: $primary-color-dark;
      color: $secondary-color-dark;
    }
  }
  
  /* Additional styles for other components */
  